body {
  padding-bottom: 80px;
}
nav{
  margin: 0;
}
nav ul{
  display: inline-block;
  list-style-type: none;
  margin: 10;
  padding: 10;
}
nav ul li {
  display: inline-block;
  padding: 10px;
}
body {
  padding-bottom: 80px;
}
.counter {
  text-align: center;
  margin-right: 20px ;
}
.timer {
  display: block;
  border: 3px solid #ccc;
  padding: 0 10px 25px 10px ;
  text-align: center;
}
.centered {
  margin: 10px 170px 20px 170px;
}
form {
  border: 3px solid #ccc;
  padding: 0 10px 25px 10px;
  border-radius: 10px;
}
input[type=checkbox],
input[type=radio] {
  margin-right: 8px;
}
.form-label.capitalize {
  text-transform: capitalize;
}
.checkbox-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.checkbox-group .form-label {
  width: 50%;
}
input[type=submit],
.btn-link {
  margin-top: 20px;
}